/* Variables */

:root {
  --main-background: #010606;
  --alternate-background: #F9F9F9;
  --complementary-color: #010606;
  --secondary-color: #101522;
  --accent-color: #25A18E;
  --secondary-accent-color: grey;
  --light-text: #F7F8F8;
  --dark-text: #010606;
  --accent-text: #004E64;
  --alternate-accent-text: #00A5CF;
}

/* Styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}


/* Hero */

.fa-terminal {
  margin-top: 24px;
  opacity: 50%;
}

.fa-terminal:hover {
  opacity: 100%;
  cursor: pointer;
}


/* Contact Page */

form div .icon {
  position: absolute;
  margin: 10px;
}

.failure-icon, .error {
  color: red;
}

.success-icon {
  color: green;
}

.success-icon, .failure-icon {
  right: 23%;
  opacity: 0;
}

